
/* #0b132b
#2a3a4b
#3a506b
#a0d2db
#ffffff */
  .projects-container {
    background: url('img-2.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  .projects-list{
    background-color: #a0d2db;
    position: relative;
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
  }
  
  .project-text{
    margin-top: 20px;
  }
  .project-title{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 1%;
  }
  .project-pic{
    width: 20%;
    margin: 20px;
    border-radius: 5%;
    float: left;
  }
  .projects-body{
      height: 600px;
  }
  #project-1{
      background-color: #fff;
  }
  #project-2{
      background-color:#a0d2db;
      height: 780px;
  }
  #project-3{
    background-color: #3a506b;
}
  @media screen and (max-width: 960px){
    
  }
  @media screen and (max-width: 768px){
    .project-pic{
        clear:left;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .project-text{
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    .projects-body{
        height: 1000px;
    }
  }