video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
/* #0b132b
#2a3a4b
#3a506b
#a0d2db
#ffffff */
  .resume-container {
    background: url('img-1.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .resume-list{
    background-color: #a0d2db;
    position: relative;
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
  }
  
  .resume-text{
    margin: 30px;
  }
  .resume-title{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 1%;

  }
  .resume-pic{
    width: 20%;
    margin: 20px;
    border-radius: 5%;
    float: left;
  }
  .resume-body{
      height: 600px;
  }

  #resume-1{
      background-color: #fff;
      height: 400px;
  }
  #resume-2{
      background-color:#2a3a4b;
      height: 500px;
      
  }
  #resume-3{
    background-color: #3a506b;
    height: 900px;
}
#resume-4{
  background-color:#a0d2db;
  height: 300px;
}
  @media screen and (max-width: 960px){
    
  }
  @media screen and (max-width: 768px){
    .resume-pic{
        clear:left;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .resume-text{
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    .resume-body{
        height: 1000px;
    }
  }